*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	font-family: sans-serif;
	font-size: 13px;
}

header{
	background: #f2f2f2;
	height: 110px;
	margin-bottom: 20px;
	border-bottom: 1px solid #c0c0c0;
}

section{
	min-height: 650px;

}

.clear{
	clear: both;
}

.conteneur{
	width: 1000px;
	margin: 0 auto;
}

/***********************FOOTER********************************/

footer{
	background: #f2f2f2;
	height: 70px;
	margin-top: 20px;
	border-top: 1px solid #c0c0c0;
	text-align: center;
	padding-top: 20px;
}

footer a{
	color: #8daab7;
	
}

footer a:hover{
	text-decoration: underline;
}

/***********************FOOTER********************************/


/***********************HEADER********************************/

.haut-gauche{
	float:left;
	width: 700px;
	height: 75px;
}

.haut-gauche h1{
	color: #000;
	font-size: 25px;
	text-shadow: 1px 1px 1px;
	margin: 10px 0 0 55px;
}

.haut-gauche h2{
	margin: 5px 0 0 0;
	font-size: 15px;
	letter-spacing: 2px;
}

.haut-gauche h2 span{
	color: #8daab7;
}

.haut-droit{
	float: left;
	width: 300px;
	height: 75px;

}

.haut-droit a{
	display: block;
	color: #8daab7;
	text-align: right;

}

.haut-droit a:first-child{
	margin-top: 10px;
}

.haut-droit a:hover{
	text-decoration: underline;
}

nav{
	width: 510px;
	margin: 0 auto;
	height: 30px;
}

nav a{
	line-height: 30px;
	color: #000;
	float: left; 
	padding: 0 35px;
}
nav a:hover{
	color: #fff;
	background: #8daab7;
	border-radius: 10px;
}
/***********************HEADER********************************/

/*************************ACCUEIL**************************/



.milieu-gauche{
	float: left;
	width: 600px;

}

.milieu-gauche h1, .milieu-gauche h2{
	font-size: 21px;
	color: #8daab7;
	margin-bottom: 7px;

}

.fiche{
	float: left;
	margin-right: 7px;
}

.graphique{
	margin: 20px 0 0 150px;
}

.milieu-gauche ul li{
	list-style-type: none;
	margin: 10px 0;
	background: url(../img/fleche.jpg) left center no-repeat;
	padding-left: 30px;
}

.italic{
	font-style: italic;
}


.milieu-droit{
	float: left;
	width: 400px;
}

.milieu-droit .cadre{
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	width: 300px;
	margin: 15px 0;
	float: right; /* Garantir l'alignement avec les borders virtuels du site.*/
}

.milieu-droit .cadre h2{
	color: #333;
	font-size: 15px;
	text-align: center;
	padding: 5px 10px;
	background: #f2f3f3;
	border-bottom: 1px solid #c0c0c0;
	border-radius: 10px 10px 0 0; /*  Palier au incohérence des couleurs à l'intérieur des H2 */
}

.milieu-droit .cadre p,.milieu-droit .cadre ul, .milieu-droit .cadre iframe{
	padding: 10px;

}
 .milieu-droit .cadre ul{
 	list-style-type: none;
 }
/*************************ACCUEIL**************************/